@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.nav-link {
    color: #D6D6D6;
}

body {
    background-color: #F5F5F7;
}

#first_navbar {
    background-color: #333333;
}

#apple_logo_nav1 {
    color:#D6D6D6;
    font-size: 1.1em;
}

.nav1_icon {
    color: #D6D6D6; 
    font-size: 1.2em;
}

#second_navbar {
    background-color: #FFF;

}

.navbar-brand {
    font-size:large;
}

.card_info_font {
    color: #6E6E73;
    font-size: 13px;
    font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
    font-weight: 500;
}


.zoom {
    transition: transform .4s;
}

.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    -moz-transform:scale(1.1); /* Firefox */
    transform: scale(1.1); 
}

.nav_font {
    font-size: 12px;
}

img {
    -webkit-filter: brightness(100%);
}

img:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 0.4s ease;
}